.container {
    max-width: 600px;
    margin: auto;
    align-content: center;
    background-color: bisque;
    padding:20px;
    padding-bottom: 150px;
}



.completed {
    font-style: italic;
    color: rgb(160, 159, 159);
    text-decoration: line-through;

}

.removeButton {
    color: white;
    background-color: black;
    text-transform: capitalize;
    padding: 2%;
    display: inline-block;
    margin-left: 10%;
}

.hide {
    display: none;
}